# Data
data/
sample_data/

# Notes
notes.txt

# HDFS
hdfs/

# Virtual environments
venv/
.venv/

# Spark
spark_jars/

# Python
__pycache__/
*.pyc

# OS
.DS_Store

# Project-specific
multimodal-lamda-architecture-master/
